parameters:
    tmpDir: null
    paths:
        - Modules/

    ignoreErrors:
        - '#Access to an undefined property .*::\$[a-zA-Z_]+#'
        - '#Call to an undefined method .*#'
        - '#Call to an undefined static method .*::.*#'
        - '#Match arm is unreachable because previous comparison is always true.#'
        - '#Method [A-Za-z0-9_\\\\]+::[A-Za-z0-9_]+\\(\\) has an unused parameter \$[a-zA-Z_]+#'
        - '#Method .*::scope[A-Za-z0-9_]+\\(\\) should return Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\Builder but returns Illuminate\\\\Database\\\\Query\\\\Builder#'
        - '#Method .*::scope[A-Za-z0-9_]+\(\) should return Illuminate\\Contracts\\Database\\Eloquent\\Builder but returns Illuminate\\Database\\Query\\Builder#'
        - '#Parameter \#1 \$user of static method Laravel\\Sanctum\\Sanctum::actingAs\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable\|Laravel\\Sanctum\\HasApiTokens, Illuminate\\Database\\Eloquent\\Collection<int, Illuminate\\Database\\Eloquent\\Model>\|Illuminate\\Database\\Eloquent\\Model given.#'
        - '#Parameter \#1 \$user of method Illuminate\\Foundation\\Testing\\TestCase::actingAs\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, Illuminate\\Database\\Eloquent\\Collection<int, Illuminate\\Database\\Eloquent\\Model>\|Illuminate\\Database\\Eloquent\\Model given.#'
        - '#Parameter \$user of method Illuminate\\Foundation\\Testing\\TestCase::actingAs\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, Illuminate\\Database\\Eloquent\\Collection<int, Illuminate\\Database\\Eloquent\\Model>\|Illuminate\\Database\\Eloquent\\Model given.#'
        - '#Property Modules\\Core\\Models\\User::\$[a-zA-Z_]+ is never read, only written.#'
        - '#Result of method .*::getFieldsSearchable\(\) \(void\) is used#'
        - '#Result of method .+::getFieldsSearchable\\(\\) \\(void\\) is used#'
        - '#Unreachable statement - code above always terminates.#'

    reportUnmatchedIgnoredErrors: false
    level: 5
